@import "~@alaskaairux/design-tokens/dist/tokens/SCSSVariables";

:host {
  font-family: $auro-font-family-default;
}
.datepicker {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.datepicker__today {
  background-color: rgba(0, 100, 255, 0.5);
}
